AutomaticLCDs2MDK2/**/*
/Issue50/.idea/.idea.Issue50/.idea/.gitignore
/Issue50/.idea/.idea.Issue50/.idea/encodings.xml
/Issue50/.idea/.idea.Issue50/.idea/indexLayout.xml
/Issue50/.idea/.idea.Issue50/.idea/vcs.xml
