$background-color: #121212;
$primary-color: #f0f0f0;
$link-color: #bb86fc;
$code-background-color: #1e1e1e;
$code-color: #c5cae9;
$table-border-color: #333;
$footer-border-color: #444;


/* Dark Theme Stylesheet */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: $primary-color;
    background-color: $background-color;
    line-height: 1.6;
}

h1 {
    font-size: clamp(1.88rem, 22px + 1.5vw, 2.5rem);
}

h2 {
    font-size: clamp(1.5rem, 18px + 1.25vw, 2rem);
}

h3 {
    font-size: clamp(1.25rem, 14px + 1vw, 1.75rem);
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    background-color: $code-background-color;
    color: $code-color;
    padding: 2px 4px;
    border-radius: 4px;
}

.definition {
    display: block;
    .value {
        font-weight: bold;
    }
}

.breadcrumbs {
    display: block;
    margin-bottom: 1rem;
}

.summary {
    padding-top: 1rem;
}

footer {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid $footer-border-color;
    font-size: 0.875rem;
}

.member-list-title {
}

.member-list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    border: 1px solid $table-border-color;
    
    /* The first column should have a right-side padding of 3rem */
    td.member-name {
        padding-right: 3rem;
        width: auto;
        white-space: nowrap;
    }
    
    td.member-description {
        width: 100%;
    }
}
